@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
$primaryColor: #02673d;
$seconDaryColor: #000958;
body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 1400px;
  width: calc(100% - 48px);
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $primaryColor;
  font-weight: 700;
  max-width: 320px;
  text-align: center;
  line-height: 1.4;
  .logo-img {
    width: 100px;
  }
}
header.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba($color: #fff, $alpha: 0.4);
  .container {
    //
    .header__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header__right {
        .header__contact {
          .contact-lists {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 12px 34px 12px 0px;
            column-gap: 38px;
            .contact-text {
              color: #717171;
              font-size: 1.4rem;
              line-height: 1;
              &:hover {
                color: $primaryColor;
              }
            }
            .contact-search {
            }
            .item-logo-img {
              width: 20px;
              height: 20px;
              object-fit: cover;
            }
          }
        }
        nav.nav {
          .nav__list {
            display: flex;
            align-items: center;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
              right: 0;
              height: 1px;
              background: linear-gradient(
                to right,
                rgba(196, 196, 196, 0) 0,
                rgba(196, 196, 196, 0.8) 80%,
                #c4c4c4
              );
            }
            .nav-item {
              display: inline-block;
              padding: 16px 34px;
              color: #002137;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1;
              text-transform: uppercase;
              text-decoration: none;
              &:hover {
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
  }
}
.backToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px;
  right: 80px;
  border-radius: 50%;
  background-color: rgba($color: $primaryColor, $alpha: 0.4);
  z-index: 10;
  color: #fff;
  opacity: 0;
  &:hover {
    background-color: rgba($color: $primaryColor, $alpha: 1);
  }
}
.btnTop-active {
  opacity: 1;
}
main {
  padding-top: 100px;
  position: relative;

  .header-banner {
    .banner-wrapper {
      border-top: 4px solid $primaryColor;
      width: 100%;
      overflow: hidden;
      position: relative;
      .banner-list {
        display: flex;
        position: relative;
        transition: transform 0.6s linear;
        .banner-item {
          flex-shrink: 0;
          width: 100%;
          height: 800px;
          position: relative;
          .banner-img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
          }
        }
      }
      .banner-content {
        width: 1000px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -100%);
        .banner-heading {
          margin-bottom: 40px;
          color: #fff;
          font-size: 4.8rem;
          font-weight: 700;
          letter-spacing: 0.1px;
          line-height: 5.2rem;
          filter: drop-shadow(1px 1px 1px #000);
        }
        .banner-btn {
          margin-top: 40px;
          display: inline-flex;
          position: relative;
          align-items: center;
          padding: 17px 24px;
          color: #fff;
          font-size: 1.7rem;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid #fff;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          text-decoration: none;
          border-radius: 4px;
          .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            right: 20px;
            transition: 0.2s ease-in-out;
          }
          &:hover {
            padding-right: 50px;
            background-color: $primaryColor;
            .icon {
              opacity: 1;
            }
          }
        }
      }
      .banner-dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        .dot {
          width: 10px;
          height: 10px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          margin: 0 5px;
        }
        .dot.active {
          background-color: $primaryColor;
        }
      }
    }
  }
  .introduct {
    padding: 50px 0;
    .container {
      //
      .introduct-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px;
        background-color: #ebeef1;
        .introduct-content {
          color: $primaryColor;
          max-width: 600px;
          .introduct-title {
            font-size: 1.4rem;
            font-weight: 900;
            letter-spacing: 0.2rem;
            margin-bottom: 24px;
          }
          .introduct-heading {
            font-size: 4rem;
            margin-bottom: 48px;
            text-decoration: underline;
            color: $seconDaryColor;
          }
          .introduct-desc {
            margin-bottom: 12px;
            font-size: 2rem;
            line-height: 1.7;
          }
          .introduct-desc__small {
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
        .introduct-media {
          width: 600px;
          height: 480px;
          overflow: hidden;
          cursor: pointer;
          border-radius: 8px;
          .introduct-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.24s ease-in;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .management {
    margin-top: 20px;
    padding: 50px 0;
    border-top: thin solid #eaeaea;
    .container {
      //
      .management-body {
        display: flex;
        align-items: center;
        .management-content {
          position: relative;
          padding: 140px 70px;
          background-color: $primaryColor;
          border-radius: 4px;
          .management-title {
            font-size: 1.4rem;
            font-weight: 900;
            letter-spacing: 0.2rem;
            margin-bottom: 30px;
            color: #95c493;
          }
          .management-name {
            font-size: 3.6rem;
            color: #fff;
          }
          .management-quote {
            position: relative;
            color: rgba($color: #fff, $alpha: 0.8);
            line-height: 1.6;
            margin-top: 34px;
            p {
              padding-left: 20px;
              font-style: italic;
            }
            &::before {
              content: "\201C";
              position: absolute;
              left: -2%;
              top: -20%;
              font-size: 60px;
              color: #fff;
            }
          }
        }
        .management-media {
          margin-left: -300px;
          .management-img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .product {
    margin-top: 20px;
    padding: 60px;
    .container {
      //
      .product-heading {
        display: inline-block;
        font-size: 3.6rem;
        color: $seconDaryColor;
        padding-bottom: 12px;
        border-bottom: 2px solid $primaryColor;
      }
      .product-cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        .product-card {
          margin-top: 40px;
          width: 400px;
          background-color: #f6f6f6;
          transition: all 0.24s linear;
          border-radius: 12px;
          cursor: pointer;
          .card-img {
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
          }
          .card-content {
            padding: 15px 30px;
            height: 260px;
            .card-heading {
              font-size: 2.8rem;
              font-weight: 600;
              margin-bottom: 16px;
            }
            .card-desc {
              line-height: 1.6;
              font-weight: 500;
              color: rgba($color: #000000, $alpha: 0.8);
            }
          }
          .card-btn {
            margin: 22px;
            color: #48b048;
            display: inline-block;
            line-height: 1.6;
            font-weight: 600;
            .btn-icon {
              margin-left: 8px;
            }
          }
          &:hover {
            transform: translateY(-12px);
            box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
  .staff {
    margin-top: 22px;
    .container {
      //
      .staff-top {
        margin: 0 auto;
        text-align: center;
        .staff-heading {
          position: relative;
          display: inline-block;
          font-size: 3.6rem;
          color: $seconDaryColor;
          padding-bottom: 12px;
          border-bottom: 2px solid $primaryColor;
        }
        .staff-title {
          margin-top: 40px;
          color: #717171;
        }
      }
      .list-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 45px auto 0;
        .staff-item {
          position: relative;
          text-align: center;
          flex: 0 0 30%;
          max-width: 30%;
          padding: 0px 20px 30px 20px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          box-shadow: 0 0 10px rgba($color: $primaryColor, $alpha: 0.1);
          overflow: hidden;
          animation: slide-in 0.5s ease-in-out forwards;
          .staff-item__img-wrap {
            width: 100%;
            height: 400px;
            overflow: hidden;
            .staff-item__img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .staff-item__title {
            margin-top: 34px;
            font-size: 1.4rem;
            line-height: 1;
            color: #656689;
          }
          .staff-item__name {
            margin-top: 14px;
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 1;
            color: $seconDaryColor;
          }
          &:nth-child(1) {
            animation-delay: 0.1s;
          }

          &:nth-child(2) {
            animation-delay: 0.2s;
          }

          &:nth-child(3) {
            animation-delay: 0.3s;
          }
        }
        @keyframes slide-in {
          0% {
            transform: translateY(-100%);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
  .contact {
    margin-top: 72px;
    padding: 40px 0;
    border-top: thin solid #eaeaea;
    .container {
      //
      .contact-inner {
        display: flex;
        justify-content: space-between;
        column-gap: 56px;
        .contact-media {
          width: 50%;
          .media-images {
            width: 100%;
            object-fit: cover;
          }
        }
        .contact-content {
          width: 50%;
          margin-top: 20px;
          .contact-heading {
            font-size: 2.4rem;
            font-weight: 600;
            color: #000;
          }
          .company-address {
            font-family: sans-serif, system-ui;
            margin: 40px 0;
            font-weight: 600;
            color: #000;
            font-size: 2rem;
          }
          .contact-information {
            font-family: sans-serif, system-ui;
            margin: 30px 0;
            display: block;
            color: #000;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
footer.footer {
  background-color: #000;
  .container {
    //
    .footer-inner {
      padding: 20px;
      text-align: center;
      .footer-row {
        margin-bottom: 10px;
        .qrcode-img {
          width: 320px;
          height: 320px;
        }
        .footer-link {
          padding: 12px 0;
          .footer-info {
            margin-right: 10px;
            font-size: 1.8rem;
            text-decoration: none;
            padding: 8px 16px;
            color: #fff;
            &:hover {
              color: $primaryColor;
            }
          }
        }
        .list-social {
          margin-top: 28px;
          > li {
            display: inline-block;
            margin-right: 10px;
            .social-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px 16px;
              width: 40px;
              height: 40px;
              background-color: #333;
              color: #fff;
              text-decoration: none;
              border-radius: 8px;
              &:hover {
                color: $primaryColor;
              }
            }
          }
        }
      }
      .footer-coppyRight {
        padding: 20px;
        color: #918d8d;
        border-top: 1px solid #333;
      }
    }
  }
}
